* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #fff;
    background: #000;
    min-height: 100vh;
}
header {
    padding: 10px;
    text-align: center;
}

header h1,
h2 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

.logo img {
    max-width: 400px;
}
@media (max-width: 568px){
    .logo img{
        max-width: 300px;
    }
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
}
@media (max-width: 568px){
    .container{
        padding: 45px;
        margin: 0px;
    }
}

.categoria {
    margin-bottom: 40px;
}

.categoria h2 {
    color: #ff2b2b;
    margin-bottom: 20px;
    border-left: 5px solid #ff0000;
    padding-left: 10px;
    font-size: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 960px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 568px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.card {
    border: 2px solid #ff0000;
    border-radius: 15px;
    padding: 20px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    max-width: 300px;
}

.combos {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-19.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 65%;

}

.batata-650g {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 65%;

}
.pizza {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-18.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 65%;

}

.polenta-400g {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 65%;
}
.batata-350g {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 65%;

}
.pastelzinho{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 80%;
}

.cerveja-reineken, .cerveja-heineken-long {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-6.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 60%;
}

.cerveja-bud, .cerveja-bud-long {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-7.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 80%;
}
.cerveja-brahma{
     background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-12.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 80%;
}
.cerveja-amstel{
     background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-13.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
}
.cerveja-polar{
       background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-14.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
}
.cerveja-corona {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-8.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 45%;
    background-position-x: 40%;
}
.coca-cola-600 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-9.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.coca-cola-lata {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-10.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.coca-cola-290{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-15.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pepsi{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('img-4.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.pepsi{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('img-20.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.fanta{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('img-22.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.guarana {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('img-21.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.sprite {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('img-23.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.redbull {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-5.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.monster{
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-4.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.baly{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-17.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.caipirinha{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-26.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.chopp{
     background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('img-30.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.copao{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-25.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.beats{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-24.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.agua{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-28.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.h2oh{
     background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-27.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.delvalle{
     background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img-29.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

.card h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 24px;
}

.card p {
    color: #ccc;
    margin-bottom: 15px;
}

.preco {
    font-size: 28px;
    font-weight: bold;
    color: #00ff66;
}
.mesas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr, 1fr;

}
.mesa-semi{
     background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('img-11.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 65%;
    max-width: 300px;
}
.mesa-pro{
     background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('img-16.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 60%;
    height: 290px;
}
footer {
    text-align: center;
    padding: 25px;
    background: #111;
    margin-top: 40px;
    border-top: 2px solid #ff0000;
}

footer p {
    margin: 5px 0;
}

.instagram {
    display: flex;
    align-items: center;
}